<!DOCTYPE html>
<html>
  <head>
    <title>Favours</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#"></a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Favours</h3>
      </div>
    </div>
    <div class="container">
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
      <%= yield %>
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      <% end %>
    </div>
  </body>
</html>